body {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  flex-direction: column;

  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-variant: tabular-nums;
  line-height: 1.5;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}

body * {
  box-sizing: border-box;
  /*box-shadow: 0 0 1px #ccc;*/
}

.page-head {
  height: 244px;
  background-color: hsla(227, 77%, 3%, 1);
  background-image: url(assets/banner.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.title-container {
  position: relative;
  height: 80px;
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
}

.banner-title {
  color: hsla(200, 100%, 68%, 1);
  background: linear-gradient(
    360deg,
    rgba(76, 34, 174, 1) 0%,
    rgba(92, 198, 255, 1) 52%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 2;
  user-select: none;
}

.shadow-title {
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0;
  z-index: 1;
  color: rgba(96, 98, 102, 1);
  background: linear-gradient(
    360deg,
    rgba(76, 34, 174, 1) 0%,
    rgba(92, 198, 255, 1) 52%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  opacity: 0.23;
  user-select: none;
}

.placeholder-title {
  opacity: 0;
}

.fake-slim-line {
  width: 340px;
  height: 1px;
  background: rgba(100, 88, 192, 1);
  opacity: 0.66;
  margin: auto;
  margin-bottom: 9px;
}

.fake-underline {
  width: 380px;
  height: 9px;
  background: rgba(100, 88, 192, 1);
  opacity: 0.66;
  margin: auto;
}

.pad-area {
  width: 160px;
  margin: 0 80px;
}

.download-link {
  text-decoration: none;
  display: inline-block;
}

.download-button {
  width: 154px;
  height: 47px;
  background: rgba(75, 206, 45, 1);
  border-radius: 4px;
  border: 0px solid rgba(91, 58, 98, 1);
  color: white;
  font-size: 22px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}

.download-icon {
  width: 32px;
  height: 32px;
  background-image: url(assets/download-icon-2x.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 2px;
}

.page-body {
  max-width: 1226px;
  margin: auto;
  padding: 16px;
}

.content-section {
  display: flex;
  flex-direction: row;
}

.demo-image {
  background-image: url(assets/laptop-2x.png);
  width: 488px;
  height: 334px;
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  width: 500px;
  max-width: 80%;
  font-size: 27px;
  font-weight: 600;
  color: rgba(96, 98, 102, 1);
  line-height: 32px;

  margin-bottom: 40px;
}

.sub-title {
  margin-bottom: 20px;
  color: hsla(220, 3%, 39%, 1);
}

.description {
  line-height: 40px;
  font-size: 12px;
  color: hsla(220, 3%, 39%, 1);
}

.content-space {
  width: 240px;
}

.text-content {
  padding: 80px 0;
  width: 500px;
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  .page-head {
    display: flex;
    flex-direction: column;
  }

  .content-section {
    flex-direction: column;
  }

  .demo-image {
    width: 100%;
  }

  .page-head {
    background-size: cover;
  }
}
